{% extends 'base.html' %}

{% block head_css %}
{% endblock %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
        <div class="span12">
            <h1>We're here for you.</h1>
            <p>Best prices, best deals on campus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum molestie enim, vitae tempus eros cursus a. Fusce sit amet eros quis risus eleifend venenatis. Nullam condimentum congue libero a convallis. Nunc lobortis augue purus, ac rhoncus orci. Ut tincidunt sodales dolor, sed consectetur enim commodo vel. Vestibulum id mauris a nulla dictum tristique. Curabitur scelerisque eleifend neque rutrum iaculis. Donec quis nisl nulla, ac volutpat leo.</p>
            <p>Etiam scelerisque dui at dolor viverra ornare. Fusce nec metus sit amet mauris pellentesque vestibulum sit amet in justo. Nulla facilisi. Maecenas ultrices urna quis neque suscipit eu luctus odio posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque faucibus sapien eget dolor viverra et elementum lorem luctus. Nam consectetur elementum venenatis. Mauris sollicitudin eros ut dolor blandit elementum vel sit amet turpis. Pellentesque leo lacus, fringilla eu dapibus non, fringilla sed sem. Aliquam sed mauris in nibh condimentum feugiat et id orci. Nam sed est justo. Proin non congue lacus. Ut congue gravida elit non accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
    </div>
      <hr>
{% endblock %}

