{% extends 'base.html' %}

{% load deals_extras %}

{% block content %}

<div class="row">
    <div class="span8 offset2">
        <form class="well">
            <div class="row">
                <div class="span8">
                    <div class="span3">
                        <div>
                            <div class="thumbnail">
                                <img src="{{ STATIC_URL }}media/{{ deal.image }}" />
                                <h5>{{ deal.company }}</h5>
                                <p>{{ deal.image_caption }}</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="span4">
                        <h1>{{ deal.title }}</h1>
                        <p>{{ deal.description }}</p>
                    </div>
                </div>
            </div>
            {{ form.render }}
    </div>
</div>
    
{% endblock %}