
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GoBuySocial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}css/master.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>

    {% block head_css %}
    {% endblock %}
    {% block head_js %}
    {% endblock %}
  </head>

  <body>
    
    <div class="container">
        <div class="flair">
            <img src="{{ STATIC_URL}}media/{{ campus.background_image }}" />
        </div>
        <div class="mailbox"></div>
        <div class="moneySavedBar">
            <div class="saved">
                <div id="saved_{{ starting_digit }}_over" >
                {% for d in saved.digits %}
                    <div class="saved_digit" id="saved_{{ forloop.counter0|add:starting_digit }}">{{ d }}</div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="sign">
            <div class="campus_thumbnail">
                <img src="{{ STATIC_URL }}media/{{ campus.thumbnail_image }}" />
            </div>
        </div>
        <div class="lightBoard">
            {% block content %}
            
            {% endblock %}
        </div>
    
    </div>
    
  </body>
</html>
